<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <!-- NAVBAR -->
	<%- include ('partials/navigation') %>
    
    <!-- FOOTER-->
    <%- include ('partials/footer') %>
</body>
</html>